.git
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py
logs
standalone_admin_password.txt
.DS_Store
__pycache__/
.env
.venv
.airflowctl
.astro
tests/
.venv
.venv
.venv
.venv
.venv

stuffs/buffered_log/
stuffs/customer_log/customers.csv
stuffs/weatherLog/
